[submodule "src/cryptomodules"]
	path = src/cryptomodules
	url = git://github.com/snip89/cloudcrypto-cryptomodules.git
[submodule "src/core"]
	path = src/core
	url = git://github.com/snip89/cloudcrypto-core.git
